name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

env:
  CARGO_TERM_COLOR: always

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        persist-credentials: false
    - uses: sensorfu/setup-rust-action@v1
      with:
        components: rustfmt
    - run: cargo fmt --verbose --check

  clippy:
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: sensorfu/setup-rust-action@v1
        with:
          components: clippy
      - run: cargo clippy --verbose

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        persist-credentials: false
    - uses: sensorfu/setup-rust-action@v1
    - run: cargo test --verbose
